---
import Layout from '../layouts/Layout.astro';
import Hero from '@/components/Hero.astro';
import ContactSection from '@/components/ContactSection.astro';
import { MapPin, Phone, Mail, Clock } from '@lucide/astro';
import MapSection from '@/components/MapSection.astro';

const contactItems = [
    {
        icon: MapPin,
        label: 'Urb. Surihuaylla Grande Q-10, los Nogales, San Sebastian – Cusco.',
        type: 'address',
    },
    {
        icon: Phone,
        label: '+1 123 456 7890',
        type: 'phone',
    },
    {
        icon: Mail,
        label: 'mail@example.com',
        type: 'email',
    },
    {
        icon: Clock,
        label: '8:30 AM - 5:30 PM',
        type: 'hours',
    },
];
---

<Layout title="Contact">
    <Hero title="Contact Us" />

    <ContactSection
        formTitle="Review Your Case With Us"
        formSubtitle="Consultations are free of charge"
    >
        <div class="space-y-6">
            <h2
                class="font-title text-4xl leading-tight font-medium lg:text-5xl"
            >
                Contact Information
            </h2>
            <p class="text-base">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit
                tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo.
            </p>

            <div class="mt-6 space-y-4">
                {
                    contactItems.map((item) => {
                        const Icon = item.icon;
                        return (
                            <div class="flex items-center space-x-6">
                                <Icon class="text-theme h-6 w-6" />
                                <span class="font-title text-2xl font-medium">
                                    {item.label}
                                </span>
                            </div>
                        );
                    })
                }
            </div>
        </div>
    </ContactSection>
    <MapSection />
</Layout>
