---
import Layout from '../layouts/Layout.astro';

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout title="home">
    <section>
        <div></div>
        <div>
            <div>
                <div>
                    <span
                        >Recuperaciones brutas de más de 2.000 millones de
                        dólares desde 1982</span
                    >
                    <h1>
                        Abogados de lesiones personales y accidentes en Nevada
                    </h1>
                    <p>
                        Mattis gata preñada ante la urna imperdiet pellentesque
                        laoreet lectus viverra consequat dictum enim hasta ahora
                        pulvinar.
                    </p>
                    <div>
                        <a>Obtén ayuda ahora</a>
                    </div>
                </div>
                <div></div>
            </div>
        </div>
    </section>
    <main>
        <section>
            <div>
                <h2>Encima</h2>
                <p>$2.000.000.000</p>
                <h3>Cubierto. Luchado con esfuerzo. Ganado con esfuerzo.</h3>
                <p>
                    Pero el diámetro del valle es un elemento y un suave algún
                    mañana aliquet mecenas tincidunt id habitante ahora risa
                    venenatis mattis risa mi hasta querer mauris que es.
                </p>
            </div>
        </section>
        <section>
            <div>
                <div>
                    <figure>
                        <img />
                    </figure>
                </div>
                <div>
                    <span>Sobre nosotros</span>
                    <h2>
                        Abogados invictos en lesiones personales y accidentes en
                        Nevada
                    </h2>
                    <p>
                        <b
                            >En un número entero como urna, augue pretium
                            gravida diam, placerat aliquam neque pellentesque
                            auctor ipsum pellentesque eu eu est sit Phasellus
                            vitae tempor nec elementum.</b
                        >
                        Accumsan aliquam, sed nunc amet aenean sit felis venenatis
                        duis at orci amet praesent ut vitae nunc commodo morbi malesuada
                        risus viverra non interdum porttitor feugiat auctor purus
                        magna turpis ut tempus, volutpat sed malesuada ut porttitor
                        morbi enim amet erat purus in varius eu mauris, dui sentarse.
                    </p>
                    <a>Leer Más</a>
                </div>
            </div>
        </section>
        <section>
            <div>
                <h2>
                    ¿Por qué elegir a Mike & John, abogados especializados en
                    lesiones personales y accidentes?
                </h2>
                <div>
                    <div>
                        <div></div>
                        <h3>Sin cargo a menos que ganes</h3>
                        <p>
                            Amet, pellentesque laoreet volutpat feugiat turpis
                            accumsan nulla morbi ut blandit nibh famas arcu,
                            nisi mauris, a eget massa adipiscing.
                        </p>
                    </div>
                    <div>
                        <div></div>
                        <h3>Recuperaciones multimillonarias</h3>
                        <p>
                            Mi almohada está vacía, no necesito fingir una
                            sonrisa, siempre llevo un elemento hermoso en mi
                            corazón.
                        </p>
                    </div>
                    <div>
                        <div></div>
                        <h3>Miles de clientes satisfechos</h3>
                        <p>
                            Los niños los tiñen, pero se dice que mi almohada es
                            amante del phasellus hasta que el autor se anima,
                            pero cada vida es una proin y no.
                        </p>
                    </div>
                    <div>
                        <div></div>
                        <h3>Somos invictos</h3>
                        <p>
                            La vida se corta antes de que el hambre del ratón
                            del valle sea triste, el gran lobortis para el
                            pellentesco.
                        </p>
                    </div>
                </div>
            </div>
        </section>
        <section>
            <div>
                <span
                    >Mike & John, abogados especializados en lesiones
                    personales, reconocidos por</span
                >
                <div></div>
            </div>
        </section>
        <section>
            <div>
                <h2>Nuestras áreas de práctica</h2>
                <p>
                    En el niño mismo, en el arco, pero amet augue ultricies
                    pellentesque netus eu pero carcaj accumsan habitante pobreza
                    pura, en fermentum.
                </p>
                <div>
                    <div>
                        <h3>Accidentes de coche</h3>
                        <p>
                            Se están muriendo, ningún elemento de quién colocó a
                            los orcos, la urna en el resultado del plátano ahora
                            es.
                        </p>
                        <a>Más Información</a>
                    </div>
                    <div>
                        <h3>Accidentes de camiones</h3>
                        <p>
                            Se están muriendo, ningún elemento de quién colocó a
                            los orcos, la urna en el resultado del plátano ahora
                            es.
                        </p>
                        <a>Más Información</a>
                    </div>
                    <div>
                        <h3>Lesiones personales</h3>
                        <p>
                            Se están muriendo, ningún elemento de quién colocó a
                            los orcos, la urna en el resultado del plátano ahora
                            es.
                        </p>
                        <a>Más Información</a>
                    </div>
                    <div>
                        <h3>Productos defectuosos</h3>
                        <p>
                            Se están muriendo, ningún elemento de quién colocó a
                            los orcos, la urna en el resultado del plátano ahora
                            es.
                        </p>
                        <a>Más Información</a>
                    </div>
                    <div>
                        <h3>Indemnización laboral</h3>
                        <p>
                            Se están muriendo, ningún elemento de quién colocó a
                            los orcos, la urna en el resultado del plátano ahora
                            es.
                        </p>
                        <a>Más Información</a>
                    </div>
                    <div>
                        <h3>Mordeduras de perro</h3>
                        <p>
                            Se están muriendo, ningún elemento de quién colocó a
                            los orcos, la urna en el resultado del plátano ahora
                            es.
                        </p>
                        <a>Más Información</a>
                    </div>
                </div>
            </div>
        </section>
    </main>
</Layout>
