---
import Layout from '../layouts/Layout.astro';
import Container from '@/components/Container.astro';
import Link from '@/components/ui/Link.astro';
import Features from '@/components/Features.astro';
---

<Layout title="home">
    <section
        class="flex min-h-screen w-full items-center justify-center overflow-hidden bg-cover text-white"
        style="background-image: url('https://xn--muacardenas-abogadopenalista-yxc.com/wp-content/uploads/2024/07/DSC00694-2-scaled.jpg');"
    >
        <Container class="flex flex-row-reverse items-center">
            <div class="w-full text-center text-white lg:w-1/2 lg:text-left">
                <h1 class="text-7xl font-bold text-white">
                    Abogados penalistas
                </h1>
                <p class="text-base font-bold text-white">
                    Hay cosas que el dinero no puede comprar, como tu libertad,
                    tu tranquilidad y tu paz familiar, creemos que todo proceso
                    se puede ganar, siempre que se use, tiempo, esfuerzo y mucha
                    pasión, nuestra finalidad es simplificarte tu vida y por
                    eso, contamos con los mejores abogados especializados en
                    derecho penal.
                </p>
                <div
                    class="mt-8 flex flex-col items-center gap-3 sm:flex-row sm:justify-center lg:justify-start"
                >
                    <Link> Obtén ayuda ahora </Link>
                </div>
            </div>
            <div class="flex w-full justify-center lg:w-1/2 lg:justify-end">
            </div>
        </Container>
    </section>
    <main>
        <section>
            <Container class="text-center">
                <h2 class="text-4xl font-bold lg:text-5xl lg:tracking-tight">
                    Encima
                </h2>
                <p class="text-lg text-slate-600">$2.000.000.000</p>
                <h3>Cubierto. Luchado con esfuerzo. Ganado con esfuerzo.</h3>
                <p class="mt-4 text-lg text-slate-600">
                    Pero el diámetro del valle es un elemento y un suave algún
                    mañana aliquet mecenas tincidunt id habitante ahora risa
                    venenatis mattis risa mi hasta querer mauris que es.
                </p>
            </Container>
        </section>
        <section>
            <Container
                class="grid place-items-center pt-16 pb-8 md:pt-12 md:pb-24 lg:grid-cols-2"
            >
                <div class="">
                    <figure>
                        <img src="" alt="" />
                    </figure>
                </div>
                <div>
                    <span
                        class="text-xs font-semibold tracking-widest text-slate-500 uppercase"
                        >Sobre nosotros</span
                    >
                    <h2
                        class="text-4xl font-bold lg:text-5xl lg:tracking-tight"
                    >
                        Abogados invictos en lesiones personales y accidentes en
                        Nevada
                    </h2>
                    <p class="mt-4 text-lg text-slate-600">
                        <b
                            >En un número entero como urna, augue pretium
                            gravida diam, placerat aliquam neque pellentesque
                            auctor ipsum pellentesque eu eu est sit Phasellus
                            vitae tempor nec elementum.</b
                        >
                        Accumsan aliquam, sed nunc amet aenean sit felis venenatis
                        duis at orci amet praesent ut vitae nunc commodo morbi malesuada
                        risus viverra non interdum porttitor feugiat auctor purus
                        magna turpis ut tempus, volutpat sed malesuada ut porttitor
                        morbi enim amet erat purus in varius eu mauris, dui sentarse.
                    </p>
                    <div class="mt-6 flex flex-col gap-3 sm:flex-row">
                        <Link
                            href="#"
                            target="_blank"
                            class="inline-flex items-center justify-center gap-1"
                            rel="noopener"
                        >
                            Leer Más
                        </Link>
                    </div>
                </div>
            </Container>
        </section>
        <section>
            <Container>
                <h2
                    class="text-center text-4xl font-bold lg:text-5xl lg:tracking-tight"
                >
                    ¿Por qué elegir a Mike & John,<br /> abogados especializados
                    en lesiones personales y accidentes?
                </h2>
                <div class="mt-16 grid gap-16 sm:grid-cols-2">
                    <div class="flex flex-col items-start gap-4">
                        <div></div>
                        <h3 class="text-lg font-semibold">
                            Sin cargo a menos que ganes
                        </h3>
                        <p class="mt-2 leading-relaxed text-slate-500">
                            Amet, pellentesque laoreet volutpat feugiat turpis
                            accumsan nulla morbi ut blandit nibh famas arcu,
                            nisi mauris, a eget massa adipiscing.
                        </p>
                    </div>
                    <div class="flex flex-col items-start gap-4">
                        <div></div>
                        <h3 class="text-lg font-semibold">
                            Recuperaciones multimillonarias
                        </h3>
                        <p class="mt-2 leading-relaxed text-slate-500">
                            Mi almohada está vacía, no necesito fingir una
                            sonrisa, siempre llevo un elemento hermoso en mi
                            corazón.
                        </p>
                    </div>
                    <div class="flex flex-col items-start gap-4">
                        <div></div>
                        <h3 class="text-lg font-semibold">
                            Miles de clientes satisfechos
                        </h3>
                        <p class="mt-2 leading-relaxed text-slate-500">
                            Los niños los tiñen, pero se dice que mi almohada es
                            amante del phasellus hasta que el autor se anima,
                            pero cada vida es una proin y no.
                        </p>
                    </div>
                    <div class="flex flex-col items-start gap-4">
                        <div></div>
                        <h3 class="text-lg font-semibold">Somos invictos</h3>
                        <p class="mt-2 leading-relaxed text-slate-500">
                            La vida se corta antes de que el hambre del ratón
                            del valle sea triste, el gran lobortis para el
                            pellentesco.
                        </p>
                    </div>
                </div>
            </Container>
        </section>
        <section>
            <Container class="text-center">
                <span
                    class="text-xs font-semibold tracking-widest text-slate-500 uppercase"
                    >Mike & John, abogados especializados en lesiones
                    personales, reconocidos por</span
                >
                <div></div>
            </Container>
        </section>
        <section>
            <Container>
                <Features />
            </Container>
        </section>
    </main>
</Layout>
