---

---

<header>
    <div class="border-b border-gray-200 py-4">
        <div class="max-w-content mx-auto flex justify-between px-5">
            <a href="/">
                <img src="/logo.png" class="h-12 w-auto" />
            </a>

            <div class="flex items-center">
                <p class="text-base leading-relaxed">For FREE Consultation</p>

                <a
                    href="tel:+11234567890"
                    class="bg-theme group ml-4 inline-flex px-8 py-4 hover:bg-white"
                >
                    <span
                        class="group-hover:text-theme text-base leading-none font-bold text-white"
                    >
                        Call: +1 123 456 7890
                    </span>
                </a>
            </div>
        </div>
    </div>
    <div>
        <nav class="max-w-content mx-auto flex justify-end px-5">
            <ul class="flex">
                <li class="px-4">
                    <a href="/" class="text-base leading-[4.3] uppercase"
                        >Home</a
                    >
                </li>
                <li class="px-4">
                    <a href="/about" class="text-base leading-[4.3] uppercase"
                        >About Us</a
                    >
                </li>
                <li class="px-4">
                    <a href="/staff" class="text-base leading-[4.3] uppercase"
                        >Staff</a
                    >
                </li>
                <li class="px-4">
                    <a
                        href="/services"
                        class="text-base leading-[4.3] uppercase">Services</a
                    >
                </li>
                <li class="px-4">
                    <a href="/results" class="text-base leading-[4.3] uppercase"
                        >Results</a
                    >
                </li>
                <li class="px-4">
                    <a href="/contact" class="text-base leading-[4.3] uppercase"
                        >Contact</a
                    >
                </li>
            </ul>
        </nav>
    </div>
</header>
