---
import Container from '@/components/Container.astro';
interface Props {
    title: string;
}
const { title } = Astro.props as Props;
---

<div class="bg-gray-300 px-10 pt-52 pb-20">
    <Container>
        <h1 class="font-title text-5xl font-medium lg:text-7xl">
            {title}
        </h1>
    </Container>
</div>
